<% if user_signed_in? %>
  <%= form_for(@comment, url: {controller: 'comments', action: 'create' }) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.hidden_field :topic_id, :value => topic.id %>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "＊100文字以内", class: "form-control" %> 
    <div>
      <%= f.submit "投稿する", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
<% end %>