<div class="comment_box">
  <div>
    <font color=blue><%= comment.user.name %></font>
    <%= comment.created_at.strftime('%Y/%m/%d %H:%M')%>
  </div>
  <p><%= comment.content %></p>
  <% if current_user && comment.user_id == current_user.id %>
    <%= link_to '削除する', comment_path(comment), method: :delete %>
  <% end %>
</div>