<% categories.each do |category| %>
  <div class="topic_box">
    <%= link_to topic_path(category.topic) do %>
      <div class="topic_title_link"><%= category.topic.title%></div>
    <% end %>
　  <div class='categories'><%= render category.topic.categories %></div>
    <ul class="topic_info">
      <li><%= category.topic.created_at.strftime('%Y/%m/%d %H:%M') %></li>
      <li>コメント数<%= Comment.where(topic_id: category.topic.id).count %></li>
    </ul>
  </div>
<% end %>