<% comments.each do |comment| %>
  <div class="topic_box">
    <%= link_to topic_path(comment.topic) do %>
      <div class="topic_title_link"><%= comment.topic.title%></div>
    <% end %>
    <div><%= comment.content %></div>
    <ul class="topic_info">
      <li><%= comment.topic.created_at.strftime('%Y/%m/%d %H:%M') %></li>
      <li>コメント数<%= Comment.where(topic_id: comment.topic.id).count %></li>
    </ul>
  </div>
<% end %>