<div class="topic_box">
  <%= link_to topic_path(topic) do %>
    <div class="topic_title_link"><%= topic.title%></div>
    <ul class="topic_info">
      <li><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></li>
      <li>コメント数<%= Comment.where(topic_id: topic.id).count %></li>
    </ul>
  <% end %>
</div>