<% provide(:title, 'スレッドの編集') %>
<h2>スレッドの作成</h2>
<%= form_for(@topic, url: { controller: 'topics', action: 'update' }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "ex)プログラミング始めた件について", class: "form-control", autofocus: true %>
  </div>
  <div>
    <%= f.submit "修正する", class: 'btn btn-default' %>
  </div>
<% end %>