<% provide(:title, 'スレッドの作成') %>
<h2>スレッドの作成</h2>
<%= form_for(@topic, url: {controller: 'topics', action: 'create' }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "ex)プログラミング始めた件について", class: "form-control", autofocus: true %>
  </div>
  <div>
    <%= f.submit "作成する", class: 'btn btn-primary form-control' %>
  </div>
<% end %>