<% provide(:title, '検索結果') %>
<%= render 'topics/topics_search' %>
<h3>検索結果</h3>
<% if @topics.empty? && @comments.empty? && @categories.empty? %>
  <p>検索はヒットしませんでした</p>
<% elsif @q.empty? %>
  <div><%= render @topics %></div>
  <div class="text-center"><%= paginate @topics %></div>
<% else %>
  <div>
    <%= render @topics %>
    <%= render "topics/comments_search_result", comments: @comments %>
    <%= render "topics/categories_search_result", categories: @categories %>
  </div>
<% end %>