<% provide(:title, "#{@topic.title}") %>
<%= render 'topics/topics_search' %>
<div class='topic-title'>
  <h3><%= @topic.title %></h3>
  <% if current_user && @topic.user_id == current_user.id %>
    <div>
      <%= link_to 'スレッドを編集する', edit_topic_path(@topic),class: 'btn btn-default' %>
      <%= link_to 'スレッドを削除する', "/topics/#{@topic.id}", method: :delete,class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
<%= render 'categories/category_form', topic: @topic %>
<div class='categories'><%= render @categories %></div>
<%= render 'comments/comment_form', topic: @topic %>
<%= render @comments %>
<div class="text-center"><%= paginate @comments %></div>