<h2>パスワードの再設定</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :reset_password_token %>
  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div>
    <%= f.submit "パスワードを変更する", class: "btn btn-primary form-control" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
