<h2>パスワードの再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div>
    <%= f.submit "パスワード再設定メールを送信する", class: "btn btn-primary form-control" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
