/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 ul {
   list-style: none;
  }

 
 .footer {
   width: 100%;
   height: 60px;
   background-color: #f5f5f5;
   text-align: center;
  }

 .footer p {
   padding-top: 20px;
  }

  .topic_box {
    padding: 1em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  .topic_title_link {
    font-size: 20px;
  }

  .topic_box a {
    text-decoration: none;
   }

  .comment_box {
    padding: 1em 1em;
    margin: 2em 0;
    color: black;
    background: #EEEEEE	;
    border-bottom: solid 2px #aac5de;
    border-radius: 9px;
  }

  .comment_box p {
    white-space: pre-wrap;
  }

  .topic_info {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
  }

  .topic_info li {
    margin-right: 10px;
  }

  .categories {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
  }

  .categories p {
    padding: 5px;
    margin-right: 5px;
    border: solid 1px #000000;
    background-color: #EEEEEE;
    border-radius: 5px;
  }

  .topic-title {
    border-bottom: solid 1px silver;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  .topic_search_form {
    text-align: right;
  }

  .btn-primary {
    margin: 10px 0px;
  }

  .field {
    margin: 15px 0px;
  }

  .navbar-text a {
    color :black;
    text-decoration: none;
  }

  .navbar-brand a {
    color: black;
    text-decoration: none; 
  }

  .container {
    min-height: 650px;
  }

  .header-menu {
    max-width: 1150px;
    margin: 0 auto;
  }

  /*デスクトップパソコン用のcssを記述*/
  @media screen and (min-width: 1500px) {
    .container{
      min-height: 1000px;
    }
  }