<% if current_user && @topic.user_id == current_user.id %>
  <%= form_for(@category, url: {controller: 'categories', action: 'create' }) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.hidden_field :topic_id, :value => topic.id %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "＊30文字以内" %> 
    <%= f.submit "カテゴリを追加する" %>
  <% end %>
<% end %>