<!-- header -->
<header>
  <nav class="navbar navbar-default">
    <div class="header-menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><%= link_to '掲示板!!', root_path %></div>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul>  
          <% if user_signed_in? %>
            <li class="navbar-text navbar-right"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li class="navbar-text navbar-right"><%= link_to '登録情報の変更', edit_user_registration_path(current_user) %></li>
            <li class="navbar-text navbar-right"><%= link_to 'スレッドの作成', new_topic_path %></li>
          <% else %>
            <li class="navbar-text navbar-right"><%= link_to '新規登録', new_user_registration_path %></li>
            <li class="navbar-text navbar-right"><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
          <li class="navbar-text navbar-right"><%= link_to 'スレッド一覧', topics_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>