<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta_tags'%>
    <%= render 'layouts/stylesheet_link_tag'%>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>  
    <%= render 'layouts/footer' %>
    <%= render 'layouts/javascript_include_tag' %>
  </body>
</html>
