<p>こんにちは <%= @resource.email %>!</p>
<p>以下のリンクからパスワードの再設定を行ってください</p>
<p><%= link_to 'パスワードの再設定を行う', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このメールに覚えがない場合や、パスワードの変更をやめたい場合は、何もする必要はありません。</p>
